<h1>Welcome to Instagram</h1>
<p>Lastest 10 images</p>

<h3>Challenge: </h3>
<ul>
  <li> Add login/ login out to application layout</li>
  <li>shrine</li>
  <li>bootstrap 4 gem </li>
  <li>Add link to new photo on landing page </li>
  <li>Each photo is linked</li>
</ul>
